<h1>Help</h1>
<br><br>
<h3>Search for an event</h3>
  <p>Use the search bar in the corner of the screen to search for an event. Events with titles which partially match your search term will be listed.</p>
  <br><br>
  <h3>Filter events</h3>
<p>The drop-down menus to the left on the homepage allow you to filter events based on location, date and category. You can select from more than one menu to refine your results.</p>
