/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require pickadate/default
 *= require pickadate/default.date
 *= require pickadate/default.time
 */

body {
    margin: 0 auto;
    color: black;
}

.navbar {
    background-color: #80dfff;
    vertical-align: middle;
}

/*Navbar logo*/
.navbar-brand {
    background-color: #80dfff;
}

.navbar-brand:hover {
    background-color: #80dfff;
}

/*Navbar text*/
.navbar-nav.ml-auto li a {
    color: black;
    font-weight: bold;
    font-family: "Franklin Gothic Medium";
    background-color: #80dfff;
    text-decoration: none;
}

/*Navbar text hover*/
.navbar-nav.ml-auto li a:hover {
    color: white;
}

/*Second bar text*/
.nav.justify-content-center li a {
    color: black;
    font-weight: bold;
    font-family: "Franklin Gothic Medium";
    background-color: white;
    text-decoration: none;
}

/*Second bar hover*/
.nav.justify-content-center li a:hover {
    color: #80dfff;
}

.nav-item {
    margin-right: 40px;
}

.image {
    position: relative;
    text-align: center;
    color: white;
}

.style_image {
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.caption {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 90%;
    bottom: 10%;
    font-size: 68px;
    font-weight: bold;
    font-family: "Franklin Gothic Medium";
}

.speech {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-family: Cambria;
}

.homepage {
    text-align: center;
}

.catalog {
    list-style-type: none;
    padding: 20px 20px;
}

hr {
    border: 1px solid black;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.map {
    text-align: center;
    border: black;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
}

footer {
    background-color: black;
    position: absolute;
    color: #f0f0f0;
    left: 0;
    right: 0;
    width: 100%;
}

footer a:link {
    color: #FFFFFF;
}

footer a:visited {
    color: #FFFFFF;
}

footer a:hover {
    color: #FFFFFF;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}